
body {
    background: #277dc9;
}

h1 {
    color: rgb(153, 144, 144);
    text-align: center;

}
ul { 
    list-style-type: circle;
    background: #F0F8FF;
    border-radius: 15px;
}
p {
    font-family: sans-serif;
    margin: 5%;
}


