
body {
    background: #b3dbff;
}

h1 {
    color: gray;
    text-align: center;

}
ul { 
    list-style-type: circle;
    background: #F0F8FF;
    border-radius: 15px;
}
p {
    font-family: sans-serif;
    margin: 5%;
}


